/* navbar design start*/
.navbar {
    font-family: quicksand, sans-serif;
    position: sticky;
    top: 0px;
    background: #ff8bae;
    padding:40px;
    border-radius: 35px;
    z-index: 100;
}

#logo {
    width: 160px;
    left: 100px;
    position: absolute;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(138, 51, 1);
}

.links {
    position: absolute;
    top: 27px;
    right: 544px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 12px;
}

nav a:hover {
    color: rgb(138, 51, 1);
    cursor: pointer;
}

.sign {
    position: absolute;
    right: 100px;
    top: 27px;
    font-size: 18px;
    color: white;
}

#sign-in,#sign-up {
    padding: 10px 20px;
    background-color: rgb(138, 51, 1);
    border-radius: 30px;
}

#sign-in:hover,#sign-up:hover {
    background-color: #ff5185;
    cursor: pointer;
}

/* navbar design end */

/* hero section design start */
.hero {
    position: relative;
    min-height: 100vh;
    font-family: quicksand, sans-serif;
}

#bold-text {
    position: absolute;
    margin: 0;
    width: 497px;
    top: 125px;
    left: 100px;
    font-size: 70px;
    font-weight: bolder;
    color: rgb(138, 51, 1);
}

#body-text {
    position: absolute;
    top: 300px;
    left: 100px;
    text-align: justify;
    width: 497px;
    color: #ff437b;
    font-size: 18px;
    font-weight: 450;
}

#line1 {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 332px;
    height: 2px;
    background-color: rgb(138, 51, 1);
    background: linear-gradient(
        to left,
        transparent,
        #ff5185 60%,
        rgb(138, 51, 1) 90%, 
        transparent
    );
}
#line2{
    position: absolute;
    top: 310px;
    left: 270px;
    width: 332px;
    height: 1px;
    background-color: #ff5185;
    background: linear-gradient(
        to left,
        transparent,
        #ff5185 60%,
        rgb(138, 51, 1) 90%, 
        transparent
    );
}

.image{
    right: 60px;
    position: absolute;
    top: 20px;
    width: 519px;
}

/* hero section design end */
#products h2 {
    text-align: center;
    font-family: quicksand, sans-serif;
}

.product-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    width: 240px;
    height: 350px;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    background: #f5f5f5;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
}

.card h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: quicksand, sans-serif;
    color:#ff437b;
    margin-bottom: 8px;
}

.card p {
    font-size: 18px;
    color: #555;
    line-height: 1.4;
}

.card-blue {
    background: #cfefff;
}

.card-yellow {
    background: #ffe0a6;
}

.card-peach {
    background: #ffd7c2;
}

#products h2{
    font-size: 50px;
    color: rgb(138, 51, 1);
}

.button p{
    font-size: 15px;
    font-family: quicksand, sans-serif;
    color: white;
    background-color: rgb(138, 51, 1);
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.button p:hover{
    background-color: #ff5185;
    cursor: pointer;
}